.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebarWidth) auto;
  overflow: hidden;
  background: var(--bg);
}

.main-content {
  width: 100%;
  height: 100%;
}