.invoices-page {
  display: flex;
  flex-direction: column;
}
.invoices-page .app-table {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.invoices-page .invoices-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 20px;
}
.invoices-page .invoices-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.invoices-page .invoices-headers h5 {
  flex-basis: 25%;
}