.new-payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--inputBorderColor);
  border-radius: 5px;
  box-shadow: var(--newCardShadow);
  padding: 40px 30px;
}
.new-payment-container h4 {
  font-size: 22px;
  color: var(--darkGrayText);
  margin-bottom: 20px;
}
.new-payment-container .payment-options {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.new-payment-container .payment-options i {
  font-size: 22px;
  color: var(--grayText);
}

.new-payment-container .user-search-row {
  width: 600px;
  display: flex;
  align-items: center;
}
.new-payment-container .user-search-row input {
  height: 45px;
  width: calc(100% - 44px);
  padding-left: 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--inputBorderColor);
}
.new-payment-container .user-search-row button {
  width: 44px;
  height: 44px;
  border-radius: 0 5px 5px 0;
}
.new-payment-container .user-search-row .results-dropdown {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 5px 5px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid var(--inputBorderColor);
  box-shadow: var(--shadow);
  z-index: 100;
}
.new-payment-container .user-search-row .results-dropdown .user-row {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.new-payment-container .user-search-row .results-dropdown .user-row h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.new-payment-container .user-search-row .results-dropdown .user-row span {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 500;
}
.new-payment-container .user-search-row .results-dropdown .user-row:hover {
  background: var(--bg);
}

.new-payment-container p.transaction-details-text {
  font-size: 14px;
  color: var(--darkGrayText);
  text-align: center;
  width: 600px;
  margin-top: 30px;
}

.new-payment-container .transaction-flex {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.new-payment-container .transaction-flex.active {
  visibility: visible;
  opacity: 1;
}
.new-payment-container .transaction-flex .side {
  display: flex;
  align-items: center;
  flex-direction: column;
}