.page-title-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 5px;
}
.page-title-bar .left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.page-title-bar .left h1 {
  font-size: 22px;
  color: #444;
}
.page-title-bar .left h1 i {
  margin-right: 12px;
}
.page-title-bar .left h5 {
  color: var(--grayText);
  font-weight: 500;
  font-size: 15px;
}