.photo-upload-comp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photo-upload-comp .upload-container {
  width: 100%;
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  border: 2px dashed #ddd;
  cursor: pointer;
  transition: all 0.2s;
  grid-column: 1/-1;
  margin-bottom: 30px;
}
.photo-upload-comp .upload-container:hover {
  background: #fafafa;
}
.photo-upload-comp .upload-container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.photo-upload-comp .upload-container i {
  font-size: 70px;
  color: var(--grayText);
  opacity: 0.6;
}
.photo-upload-comp .upload-container h5 {
  font-size: 17px;
  color: var(--grayText);
  font-weight: 500;
  opacity: 0.6;
}
.photo-upload-comp .upload-container span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
}
.photo-upload-comp .upload-container.dragging {
  border-color: var(--primary);
  background: var(--extraLightPrimary);
}
.photo-upload-comp .upload-container.dragging i {
  color: var(--primary);
}
.photo-upload-comp .uploaded-imgs-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: 1/-1;
  width: 100%;
  margin-bottom: 30px;
}
.photo-upload-comp .uploaded-imgs-container h4 {
  font-size: 18px;
  color: var(--grayText);
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.photo-upload-comp .uploaded-imgs-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-height: 450px;
  overflow-y: overlay;
}
.photo-upload-comp .uploaded-imgs-flex .img-item {
  width: 140px;
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.photo-upload-comp .uploaded-imgs-flex .img-item:hover {
  filter: brightness(0.85);
}
.photo-upload-comp .uploaded-imgs-flex .img-item img,
.photo-upload-comp .uploaded-imgs-flex .img-item video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.photo-upload-comp .uploaded-imgs-flex .img-item .icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.photo-upload-comp .uploaded-imgs-flex .img-item .icon-container i {
  font-size: 16px;
  color: var(--grayText);
}
.photo-upload-comp .uploaded-imgs-flex .img-item:hover {
  background: #f1f1f1;
}
.photo-upload-comp .uploaded-imgs-flex .img-item.large {
  width: 300px;
  height: 300px;
}

.photo-upload-comp .upload-container svg {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}