.photo-uploader-box {
  margin-top: 5px;
}
.photo-uploader-box {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  border: 2px dashed #ddd;
  cursor: pointer;
  transition: all 0.2s;
}
.photo-uploader-box:hover {
  background: #f1f1f1;
}
.photo-uploader-box.dragging {
  border-color: var(--primary);
  background: var(--extraLightPrimary);
}
.photo-uploader-box.dragging i {
  color: var(--primary);
}
.photo-uploader-box input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.photo-uploader-box i {
  font-size: 70px;
  color: var(--grayText);
  opacity: 0.6;
}
.photo-uploader-box h5 {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 600;
  opacity: 0.6;
}
.photo-uploader-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  background: #f1f1f1;
}
.photo-uploader-box.has-img {
  height: 250px;
}
.photo-uploader-box .icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  z-index: 30;
}
.photo-uploader-box .icon-container:hover {
  background: #f1f1f1;
}
.photo-uploader-box .icon-container i {
  font-size: 16px;
  color: var(--grayText);
}