.account-payments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.account-payments .payments-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.account-payments .payments-section > h4 {
  margin-bottom: 25px;
  font-size: 15px;
  color: var(--darkGrayText);
}

.account-payments .connect-stripe-btn {
  margin-bottom: 20px;
  font-size: 13px;
  padding: 8px 10px;
}

.account-payments .account-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: var(--newCardShadow);
}
.account-payments .account-box > i {
  color: var(--darkGrayText);
  font-size: 30px;
}
.account-payments .account-box .account-box-info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.account-payments .account-box .account-box-info h5 {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--darkGrayText);
}
.account-payments .account-box .account-box-info h6 {
  font-size: 12px;
  font-weight: 700;
  color: var(--darkGrayText);
  display: flex;
  align-items: center;
  gap: 10px;
}
.account-payments .account-box .account-box-info h6 span {
  font-weight: 500;
}
.account-payments .account-box .account-box-info h6 i {
  color: var(--primary);
}
.account-payments .account-box .account-box-info h6 i.fa-times-circle {
  color: var(--grayText);
}
.account-payments .account-box .account-box-info .btn-group {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}


.account-payments .payments-section .app-badge h6 {
  font-size: 15px;
  font-weight: 600;
}