.footer {
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e5e5e5;
}
.footer.not-fixed {
  position: relative;
}

.footer .site-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
}
.footer .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .left h5 {
  font-size: 14px;
}
.footer .left p {
  font-size: 13px;
  color: #555;
}

.footer .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer .right .socials {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .right .socials a {
  transition: all 0.2s;
}
.footer .right .socials a i {
  color: var(--primary);
  font-size: 17px;
}
.footer .right .socials a i:hover {
  opacity: 0.6;
}

.footer .right .foot-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .right .foot-links a {
  font-size: 13px;
  color: #555;
  transition: all 0.2s;
}
.footer .right .foot-links a:hover {
  color: var(--primary);
  text-decoration: underline;
}
.footer .right .foot-links span {
  color: #444;
  font-size: 12px;
}