.invoice-paper-container {
  padding: 20px!important;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 830px!important;
  box-shadow: var(--morphShadow);
}
.invoice-paper-container > header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.invoice-paper-container > header img {
  width: 50px!important;
  height: 50px!important;
  object-fit: contain;
  margin-bottom: 10px;
}
.invoice-paper-container .header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.invoice-paper-container > header .left {
  display: flex;
  flex-direction: column;
}
.invoice-paper-container > header .left h3 {
  margin-bottom: 5px;
  font-size: 22px!important;
  color: var(--darkGrayText);
}
.invoice-paper-container > header h5 {
  font-size: 13px!important;
  color: var(--grayText);
  font-weight: 600;
}
.invoice-paper-container > header h5 span {
  font-weight: 800;
  font-size: 13px!important;
}
.invoice-paper-container > header .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.invoice-paper-container > header .right h3 {
  font-size: 26px!important;
  margin-bottom: 5px;
  color: var(--grayText);
}

.invoice-paper-container .billto-section {
  width: 100%;
  padding: 20px!important;
  background: var(--bg);
  margin-top: 40px;
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
.invoice-paper-container .billto-section h4 {
  font-size: 17px!important;
  color: var(--darkGrayText);
  margin-bottom: 10px;
}
.invoice-paper-container .billto-section h5 {
  font-size: 13px!important;
  color: var(--darkGrayText);
  font-weight: 500;
}
.invoice-paper-container .items-section {
  margin-top: 50px;
  width: 100%;
}
.invoice-paper-container .items-section .app-table {
  min-width: 100%;
}
.invoice-paper-container .items-section .app-table .headers {
  border-bottom: 2px solid var(--inputBorderColor);
  padding-bottom: 10px;
}
.invoice-paper-container .items-section .app-table .headers h5 {
  font-size: 0.83em!important;
}
.invoice-paper-container .items-section .app-table .rows {
  gap: 0;
}
.invoice-paper-container .items-section .invoice-item-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  border-bottom: 1px solid var(--inputBorderColor);
}
.invoice-paper-container .items-section .invoice-item-row:last-child {
  border-bottom: none;
}
.invoice-paper-container .items-section .invoice-item-row h6 {
  flex-basis: 25%;
  font-size: 12px!important;
  color: var(--darkGrayText);
  font-weight: 600;
}
.invoice-paper-container .items-section .invoice-item-row .actions {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 25%;
}
.invoice-paper-container .items-section .invoice-item-row .actions .icon-container:hover i {
  color: var(--primary)!important;
}

.invoice-paper-container .totals-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  padding-right: 10px;
}
.invoice-paper-container .totals-section h6 {
  font-size: 13px!important;
  color: var(--grayText);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.invoice-paper-container .totals-section h6:first-child {
  border-top: 1px solid var(--inputBorderColor);
  padding-top: 10px;
}
.invoice-paper-container .totals-section h6.totals {
  font-size: 16px!important;
  color: var(--darkGrayText);
}

.invoice-paper-container .notes-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.invoice-paper-container .notes-section h4 {
  font-size: 16px!important;
  color: var(--darkGrayText);
  margin-bottom: 10px;
}
.invoice-paper-container .notes-section p {
  font-size: 13px!important;
  color: #777;
  font-weight: 500;
}

.invoice-paper-container .foot-notes {
  margin: 40px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--inputBorderColor);
  padding-top: 20px;
}
.invoice-paper-container .foot-notes h6 {
  font-size: 13px!important;
  color: var(--grayText);
  font-weight: 600;
}
.invoice-paper-container .foot-notes small {
  font-size: 11px!important;
  color: #777;
}
.invoice-paper-container .foot-notes small a {
  color: var(--primary);
  text-decoration: underline;
}

.invoice-paper-container .tax-numbers:hover {
  background: var(--extraLightPrimary);
  border-radius: 5px;
  cursor: text;
}
